In [23]:
# 칼럼명 고정
order = '온라인 주문번호'
count = '수량'
sku = '품번'

# 슈트 개수
shut = 60

In [3]:
import pandas as pd
df = pd.read_excel('data/BA_Sample_Samsung_0421_raw_data.xlsx',usecols= [order,count,sku])
df

                  품번  수량           온라인 주문번호
0      111721BPAA070   1  OD202204211595605
1        111871LY6RM   1  OD202204211595605
2        121771DYAAM   1  OD202204211595605
3        321751AY1LM   1  OD202204211595605
4        321751LY2PM   1  OD202204211595605
...              ...  ..                ...
14534    192196WY75F   1  OD202204201590292
14535    321821LH8KM   5  OD202204201590292
14536  351525JQ2E070   1  OD202204201590292
14537    351565JQ2EM   1  OD202204201590292
14538   421141EYA0XL   1  OD202204201590292

[14539 rows x 3 columns]

#### 전체 알고리즘


1. 주문번호끼리 그룹화

2. 작업량 = 품번의 개수 * 수량 -> 그룹(주문번호)마다 작업량 계산

3. 작업량이 많은 순으로 정렬(내림차순)(=투입순서)

4. 각 슈트에는 아래와 같이 할당됨(숫자가 작을수록 우선순위, 작업량 많은 항목)(ㄹ모양)  
    <0> <1>          <58> <59>  
0-   1   2    ....    59   60   ->   1번 배치 (0\*60+i+1)  
1-  120 119   ....    62   61   ->   2번 배치 (2\*60-i)  
2-  121 122   ....   179  180   ->   3번 배치 (2\*60+i+1)

#### 생성결과

1. 투입 순서 + 배치 순서 

2. 배당되는 슈트

### 작업량 계산

In [21]:
order_df = df.groupby(order)[count].sum().reset_index()
order_df

               온라인 주문번호  수량
0     OD202204091413193   3
1     OD202204121453868   2
2     OD202204131475710   3
3     OD202204131476387   2
4     OD202204131480783   2
...                 ...  ..
3111  OD202204211607081  11
3112  OD202204211607083   6
3113  OD202204211607084   3
3114  OD202204211607085   5
3115  OD202204211607087   7

[3116 rows x 2 columns]

In [22]:
order_df = order_df.sort_values(by=count, ascending=False).reset_index(drop=True)
order_df

               온라인 주문번호  수량
0     OD202204211605517  69
1     OD202204211596980  45
2     OD202204211596072  37
3     OD202204211604990  34
4     OD202204201592352  32
...                 ...  ..
3111  OD202204211604937   1
3112  OD202204201591190   1
3113  OD202204211601155   1
3114  OD202204201590428   1
3115  OD202204201590512   1

[3116 rows x 2 columns]

In [31]:
order_df['투입순서'] = order_df.index
order_df['배치'] = order_df.index // 
order_df

TypeError: unsupported operand type(s) for //: 'int' and 'str'